.wholeBodyStyle {
  background: url("./photo_repository/IMG_WaterLily.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; /*contain */
  background-position: center;
  width: 95%;
  height: 95%;
}

.bodyStyle {
  /* background-color: rgb(3, 84, 62); */
  width: 100%;
  height: 100%;
}

.mainLayoutStyle {
  /* background-color: rgb(23, 158, 160); */
  width: 95%;
  padding: 20px;
  margin: auto;
  display: flex;
}

.theQuote {
  width: 50%;
  padding: 20px;
  margin: auto;
}

.myPic {
  width: 270px;
  height: 190px;
  max-width: auto;
  max-height: auto;
  float: right;
  border-style: inset;
  border: width 10px;
  border-color: rgb(175, 211, 201);
  border-radius: 5px;
}

.myIntro {
}

.banner {
  font-family: fantasy;
  font-weight: bold;
  font-size: x-large;
  color: rgb(19, 19, 92);
  background-color: rgb(175, 211, 201);
  padding: 20px;
  width: 95%;
  margin: auto;
}

.bannerLink {
  font-size: large;
  color: rgb(19, 19, 92);
  float: inline-end;
  margin: 5px 5px 5px 5px;
}

.bannerFooter {
  position: fixed;
}
