.banner {
  font-family: fantasy;
  font-weight: bold;
  font-size: x-large;
  color: rgb(19, 19, 92);
  background-color: rgb(175, 211, 201);
  padding: 20px;
  width: 95%;
}

.bannerHeader {
  float: inline-start;
}

.bannerLink {
  font-size: large;
  float: inline-end;
  margin: 5px 5px 5px 5px;
}
